.direction {
    background-color: aqua;
}
.direction:hover {
    background-color:blueviolet;
    color:brown;
}
.speech {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.don {
 color: rgb(17, 241, 17);
}
.mar {
 color: rgb(11, 166, 228);
}
.giu {
 color :rgb(181, 181, 27);
}

