.direction {
    background-color: aqua;
}
.direction:hover {
    background-color:blueviolet;
    color:brown;
}
.speech {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.don {
 color: rgb(17, 241, 17);
}

.don:hover {
    box-shadow: 10px 10px 5px rgb(43, 175, 227, 0.4);
   }
.mar {
 color: rgb(11, 166, 228);
}
.mar:hover {
    box-shadow: 10px 10px 5px rgba(6, 231, 100, 0.6);
   }
.giu {
 color :rgb(181, 181, 27);
}
.giu:hover {
    box-shadow: 10px 10px 5px rgba(231, 6, 227, 0.8);
   }
.tblCharacter {
    border: 2px solid green ;
    text-align: center;
    margin-top: 15px;
    margin-left: 30px;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

 

